@charset "utf-8";

/*///////////////////////////
全体設定
///////////////////////////*/
:root {
    --yellow: #FFEC00;
    --pink: #E47972;
    --lightblue: #00B8EA;
    --gray: #E0E0E0;
    --liteyellow: #FFFFEB;
    --black: #030201;
    --white: #f9f9f3;
    --font: "M PLUS 1p", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-feature-settings: "palt";
    font-family: var(--font);
    font-size: 17px;
    line-height: 1.7;
    color: var(--black);
    background: url(../img/bg-r.png) repeat center center/contain;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
        font-size: clamp(0.75rem, 0.661rem + 0.45vw, 0.875rem)
    }

    main {
        margin: 100px 1rem;
    }

    section {
        margin: 0 auto;
        background-color: var(--white);
        border: 1px solid var(--gray);
        border-radius: 50px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        font-family: "M PLUS 1p", serif;
        font-weight: bold;
        border: 2.5px solid var(--black);
        border-radius: 50px;
        padding: .1rem 1.5rem;
        background-color: var(--lightblue);
        color: #fff;

        @media screen and (max-width: 768px) {
            font-size: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem);
        }
    }

    .text {
        padding: 2rem 5rem;
        max-width: 500px;

        @media screen and (max-width: 768px) {
            padding: 1rem 3rem;
        }
    }

    .inner {
        max-width: 1200px;
        margin: 0 auto;
    }

    p {
        padding: 2rem 0 1rem;
    }

    figcaption {
        font-size: 12px;
        width: 65%;
        margin-top: .5rem;

        @media screen and (max-width: 768px) {
            font-size: clamp(0.5rem, 0.321rem + 0.89vw, 0.75rem);

        }
    }

    hr {
        border: none;
        height: 8px;
        background-image: repeating-linear-gradient(45deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%);
        background-size: 8px 8px;
    }
}


/* ===============================================
# top
=============================================== */
header {
    height: 100vh;
    background: url(../img/bg-b.png) repeat center center/cover;
    position: relative;

    .àlamode {
        position: fixed;
        top: 50%;
        right: 0;
        height: 100px;
        width: auto;
        animation: purupuru 1s linear;

        @media screen and (max-width: 768px) {
            top: 88%;
            height: 80px;
        }

        @keyframes purupuru {
            0% {
                transform: scale(1.0, 1.0) translate(0%, 0%);
            }

            40% {
                transform: scale(0.95, 1.2) translate(0%, -10%);
            }

            50% {
                transform: scale(1.1, 0.9) translate(0%, 5%);
            }

            60% {
                transform: scale(0.95, 1.05) translate(0%, -3%);
            }

            70% {
                transform: scale(1.05, 0.95) translate(0%, 3%);
            }

            80% {
                transform: scale(1.0, 1.0) translate(0%, 0%);
            }

            100% {
                transform: scale(1.0, 1.0) translate(0%, 0%);
            }
        }
    }

    .top {
        position: relative;

        .uchidasaki {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 5vh;
            left: 50%;
            transform: translateX(-50%);
            gap: 2rem;
            margin: 0 auto;

            img {
                height: 8vh;
                opacity: 0;
                animation: blink 3s step-end infinite, bounce 1s ease-in-out infinite;
            }
        }


        img:nth-child(1) {
            animation-delay: 0s;
        }

        img:nth-child(2) {
            animation-delay: 1s;
        }

        img:nth-child(3) {
            animation-delay: 2s;
        }

        img:nth-child(4) {
            animation-delay: 3s;
        }

        img:nth-child(5) {
            animation-delay: 4s;
        }


        @keyframes blink {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }

    .name-top {
        position: absolute;
        top: 52vh;
        right: 53vw;
        transform: translate(50%, -50%);
        width: 50%;
        height: auto;
        max-height: 600px;

        @media screen and (max-width: 768px) {
            width: 80%;
        }
    }

    .scroll-prompt {
        position: absolute;
        bottom: -91vh;
        left: 50vw;

        span {
            position: relative;
            font-size: 18px;
            font-style: italic;
            color: var(--white);
            display: block;
            margin-bottom: 10px;
            animation: bounce 1.5s infinite ease-in-out;

            &:before {
                content: '';
                bottom: -85px;
                left: 50%;
                position: absolute;
                width: 4px;
                height: 85px;
                background: var(--black);
                animation: moveGradient 3s infinite linear;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 4px;
                height: 10px;
                border: 1px solid var(--pink);
                background: var(--yellow);
                animation: moveLine 1.5s infinite linear;
            }

            @media screen and (max-width: 768px) {
                left: -5vw;
            }
        }

        @keyframes moveLine {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(100px);
            }
        }
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }
    }

    .tree {
        opacity: 0;
        position: absolute;
        top: 80vh;
        left: -40vw;
        height: 18vh;
        transform-origin: bottom;
        animation: fade 5s ease-in;

        @keyframes fade {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                transform: scaleY(2);
            }
        }
    }
}

/* ===============================================
# 完成ロゴ
=============================================== */
// .finish {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 50px 0;

//     figure {

//         @media screen and (max-width: 768px) {
//             flex-direction: column-reverse;
//         }

//         figcaption {
//             font-size: 14px;
//             width: 100%;
//             text-align: center;
//         }
//     }

//     img {
//         width: 25vw;
//         max-width: 300px;
//         max-height: 300px;

//         @media screen and (max-width: 768px) {
//             width: 80vw;
//         }
//     }
// }

/* ===============================================
# 目標
=============================================== */
#goal {
    ul {
        display: inline-block;
        font-size: 25px;
        border: 1px solid;
        border-radius: 18px;
        padding: 1rem;

        li {
            background-image: repeating-linear-gradient(-45deg,
                    #FFEC00 0, #FFEC00 3px,
                    transparent 3px, transparent 6px);
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 100% 50%;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }
}

/* ===============================================
# ロゴができるまで
=============================================== */
#process {

    .container {
        p {
            padding-left: 1rem;

            &:before {
                content: '●';
                margin-left: -1rem;
            }
        }
    }
}

.logo {
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .arrow {
        width: 55px;
        margin: 0 30px 0 10px;

        @media screen and (max-width: 768px) {
            transform: rotate(90deg);
            margin: 30px 0;
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;

        .kage {
            border: .5px solid var(--black);
            border-radius: 5px;
            height: auto;

            @media screen and (max-width: 768px) {
                height: 150px;
            }
        }


        .try {
            width: 50vw;
            height: auto;
            max-width: 800px;
        }

        img {
            width: auto;
            height: clamp(11.25rem, 0.139rem + 23.15vw, 17.5rem);
            max-width: 400px;

            @media screen and (max-width: 768px) {
                height: 180px;
                max-width: 300px;
            }
        }
    }

    .finish {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }

        figure {
            figcaption {
                font-size: 14px;
                width: 100%;
                text-align: center;
            }
        }

        img {
            width: 25vw;
            max-width: 300px;

            @media screen and (max-width: 768px) {
                width: 100vw;
            }
        }
    }
}

.okuyuki {
    margin-left: 5vw;

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

/* ===============================================
# 感想
=============================================== */
#impression {
    margin-bottom: 3rem;

    p {
        margin: 3rem 0;
    }

    /* ===============================================
# 副産物
=============================================== */
    .byproduct {
        text-align: center;
        padding-bottom: 120px;

        h3 {
            font-size: 25px;
            background-color: var(--yellow);
            display: inline-block;
            padding: .6rem 2rem;
            border-radius: 50px;
            margin: 1rem 0 3rem;

            @media screen and (max-width: 768px) {
                font-size: clamp(1rem, 0.688rem + 1.56vw, 1.438rem);
            }
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 80px 50px;

            @media screen and (max-width: 768px) {
                gap: 50px;
                flex-direction: column;
                align-items: center;
            }
        }

        figure {
            figcaption {
                width: 100%;
            }

            img {
                height: 100px;
                width: auto;

                @media screen and (max-width: 768px) {
                    height: 80px;
                }
            }
        }
    }
}


/* ===============================================
# カタカタ
=============================================== */
.katakata {
    height: 200px;
    width: auto;
    margin-bottom: 50px;
    animation: katakata .1s 8;

    @keyframes katakata {
        0% {
            transform: rotate(2deg);
        }

        100% {
            transform: rotate(-2deg);
        }
    }
}

/* ===============================================
# フッター
=============================================== */
footer {
    border-top: 1px solid var(--pink);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--liteyellow);
}